body{
	margin:0px;
	padding:0px;
	background-image: url("pictures/lovers.jpg");
	background-position:top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}
.dropdown {
  position: absolute;
  display: inline-block;
  
}
.dropbtn {
  background-color: purple;
  color: white;
  width:100px;
  padding: 5px;
  border-radius:10px;
  margin:5px;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
h2{
	padding:2px;
	text-align:center; 
	padding:2px; 
	font-family:Brush Script MT, sans-serif;
	
}
h3{
	padding:2px;
	text-align:center; 
	padding:2px; 
	font-family:Brush Script MT, sans-serif;
}
@font-face{
	font-family:'Brush Script MT';src:url('fonts/BRUSHSCI.ttf')
}
#nav{
	padding:0px;
	margin-bottom:30px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-size: 22px;
  font-family:Brush Script MT, sans-serif;
}

li {
  float: left;
  
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:purple;

}

li a:hover {
  transition: 2s;
  background-color: #FF69B4;
  border-radius:10px;
  
}
#logo{
	padding:0px;
	margin-bottom:10px;
	height:70px;
	margin-left:530px;
	position:absolute;
}
#main{
	border-radius:25px;
	border:2px solid;
	border-color:#FF69B4;
	padding: 20px;
	width:400px;
	height:500px;
	font-size:20px;
	background-image:url("pictures/Love.jpg");
	background-position:center;
	background-repeat:no-repeat;
	color:#000000;
	margin-left: 700px;
	clear:both;
	font-family: Brush Script MT, sans-serif;
}
#main2{
	border-radius:25px;
	border:2px solid;
	border-color:#FF69B4;
	padding: 20px;
	width:400px;
	font-size:20px;
	background-image:url("pictures/Love.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-color:#FFF8DC;
	margin:auto;
	clear:both;
	font-family:Brush Script MT, sans-serif;
}
#body1{
	margin:0px;
	padding:0px;
	background-image: url("pictures/couples-main.jpg");
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius:5px;
  background: #FFF0F5;
}
#main3{
	border-radius:25px;
	border:2px solid;
	border-color:#FF69B4;
	padding: 20px;
	width:400px;
	font-size:25px;
	background-image:url("pictures/hearts.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-color:#FFF8DC;
	margin:auto;
	clear:both;
	color:FFFFFF;
	font-family:Brush Script MT, sans-serif;
}
.hr{
	border:6px solid SlateBlue;
	border-radius:5px;
}
.button{
  background-color: #778899;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.button:hover{
	transition:2s;
	background-color:#FF69B4;
}

#login{
	border-radius:25px;
	border:2px solid #FF69B4;
	padding: 20px;
	width:400px;
	font-size:25px;
	background-image:url("pictures/login.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-color:#FFF8DC;
	margin:auto;
	clear:both;
	color:FFFFFF;
	font-family:Brush Script MT, sans-serif;
}
#footer{
	width:50%;
	
}
#home1{
    margin:0px;
	padding:0px;
	background-image: url("pictures/love2.jpg");
	background-position:top;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
#homepage{
	margin:auto;
	width:1000px;
	background-color: #FFFFFF;
	border-radius:25px;
    border:2px solid;
	border-color: #FF69B4;
    padding:5px;
	
}
#posts{
	height:200px;
	width:100%;
	color:#778899;
	margin:auto;
	border-radius:25px;
	position:relative;
}
#iconc{
	height:50px;
	width:50px;
}

.comment-response{
	background-color:#DCDCDC;
	padding:2px;
    border-left: 6px solid SlateBlue;
    border-radius: 5px;
    width: 100%;
      
}
.edit_form {
	top: 0px;
	right:0px;
}
.edit_form input[type=submit]{
    margin-left:2px;
	font-size: 75%;
	color: black;
	border:none;
	border-radius: 5px;
    cursor: pointer;
	float:right;
	
}
.delete_form {
	
	top: 0px;
	right:0px;
}
.delete_form input[type=submit]{
	margin-left:2px;
	font-size: 75%;
	color: black;
	border:none;
	border-radius: 5px;
    cursor: pointer;
	float:right;

}

#imagepost{
	width:800px;
	height:700px;
    height: auto;
	display: block;
	border: 6px solid SlateBlue;
	border-radius:25px;
    margin-left: auto;
    margin-right: auto;
    
}
td{
	font-family:Aerial, sans-serif;
	
}









